body {
    background-image: url(./img/Vector.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: #03045E;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    width: 1024px;
    height: 429px;
  }
  
  .description {
    background-color: #00B4D8;
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
  }
  
  .footprint {
    
    background-repeat: repeat;
    width: auto;
    height: auto;
  }
  