*{

    padding: 0px;
    margin: 0px;
    color: rgb(rgb(62, 214, 65), green, blue);
    text-align: center;

}

*{

    background-color: rgb(14, 47, 145);
    color: rgb(43, 128, 0);
    font-size: 20px;
    align-items: center;
    justify-content: center;

}
   
    html, body{

        background-color: rgb(rgb(136, 213, 211), green, blue);

    }

    .main-container{

        border: 7px solid rgb(rgb(89, 160, 210), green, blue);
        border-radius: 50px;
        margin: 2rem;
        background-color: rgb(rgb(141, 72, 188), green, blue);

    }

nav, section, footer, aside, article{

    border: 4px solid rgb(rgb(0, 255, 242), green, blue);
    margin: 1rem;
    border-radius: 10px;
    padding: 1rem;
}

article, aside{

    width: 40%;
    display: inline-flex;
    height: 400px;

}

nav,footer,section {

    background-color: rgb(14, 0, 139);
    

}