*{

    margin: 0;
    padding: 0;

}

body{

    background: url(../02HTML/resources/inicio_sesion/MicrosoftTeams-image\ \(6\).png);
    background-size: cover;
    color: rgb(247, 230, 226);
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: center;
}

.u{

    background-color: antiquewhite;
    width: 600px;
    height: 50px;
    border-radius: 15px solid color #8f0c0c;
    /*border-radius: 15px solid rgb(59, 62, 113);*/
    margin-top: 10%;
    text-align: center;

}

.tittle{

    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    font-size: 15px;
    padding-top: 5px;
    color: blue;
}

.userid{

    padding-top: 20px;
}

.userid h2{

    font-family: 'Roboto';
    float: left;
    margin-left: 50px;
    margin-right: 5px;
    margin-left: 5px;
}

.userid input{

    height: 25px;
    width: 300px;
    border: solid 2px #0bb61c;
    border-radius: 10px;
    margin-left: 20px;   
}

.password {

    padding-top: 20px;
}

.password input{

    height: 25px;
    width: 300px;
    border: solid 2px #0bb61c;
    border-radius: 10px;
    margin-left: 20px;
}

.password h2{

    font-family: 'Roboto';
    float: left;
    margin-left: 50px;
    margin-right: 5px;
    margin-left: 5px;
}
/*
.button{

    a
}
*/
.button button{

    border-radius: 15px;
    width: 20px;
}

.button p{

    margin-top: 15px;
}